/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding:0;
}
body{
  width: 100%;
  overflow-x: hidden;
}
.content{
  width: 100%;
  height: 500px;
  display: flex;
}
.left{
  width: 200px;
  border-right:1px solid green;
  height: 500px;
}
.right{
  flex: 1;
}
.active{
  color: green;
}
